<div class="col-md-6 mx-auto mt-5">
  <h1>welcome to <strong>Meshiterro</strong> !!</h1>
  <p>In <strong>Meshiterro</strong>,</p>
  <p>SNS community that indiscriminately stimulates the appetite of sensible citizens.</p>
  
  <div class="row">
    <p class="ml-3">
      <%= link_to "Log in",  new_user_session_path, class: "btn btn-info" %>
    </p>
    <p class="ml-3">
      <%= link_to "Log in",  new_user_registration_path, class: "btn btn-success" %>
    </p>
  </div>
  
</div>
